* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-decoration: none !important;
  box-sizing: border-box !important;
  background-color: #f0f0f0;
  font-size: calc(0.3rem + 2vmin);
}

/******************** navBar start ************************/

.navbar {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  text-decoration: none;
  list-style: none;
  background-color: #f0f0f0;
  padding: .8rem calc(6rem + 2vmin);
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar ul li a span {
  color: #e16259;
  font-weight: bold;
}
.navbar ul li a {
  margin-left: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 99;
  text-decoration: none;
  color: #000;
}
.navbar ul li a:hover {
  border-bottom: 2px solid #e16259;
  color: #e16259;
}
.searchBar {
display: flex;
align-items: center;
justify-content: center;
margin-left: 1rem;
}

.searchBar textarea {
  border: 1px solid rgba(10, 10, 10, 0.2);

  width: calc(6rem + 2vmin);
  height: 1.5rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  outline-style: none;
  resize: none;
  overflow: hidden;
}
/******************** Category Start ************************/


.category {
  /* display: flex; */
}

.category-list {
  /* position: fixed; */
  top: 0;
  overflow-x: scroll;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.category-list li {
  margin: 0.2rem 1rem;
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.category-list li:hover {
  background-color: rgb(14, 160, 218);
  color: #fff;
}

.category-list li a {
  text-decoration: none;
  list-style-type: none;
  color: #cacaca;
}

/******************** navBar end ************************/

/******************** News section start ************************/

.news {
  min-height: 100vh;
  margin: 2rem calc(1rem + 2vmin);
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/******************** NewsItem Cards start ************************/

.cards {
  position: relative;
  max-width: calc(15rem + 2vmin);
  margin: 1rem;
  background-color: rgb(245, 248, 253);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.cards:hover {
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.cards #source {
  position: absolute;
  font-size: 0.2rem;
  padding: 0.2rem;
  min-width: 4rem;
  text-align: center;
  top: 7.2rem;
  background-color: rgb(14, 160, 218, 1);
  color: aliceblue;
  box-shadow: 0 5px 10px 2px rgba(22, 15, 15, 0.4);
}
#source p {
  font-size: 0.8rem;
  display: inline;
  margin: 0;
  padding: 0;
}

.cards img {
  background-color: #282c34;
  width: 100%;
  height: 8rem;
}

.cards h3 {
  font-size: 1rem;
  margin: 0 1rem;
  height: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-wrap: break-word;
}

.cards p {
  font-size: 0.7rem;
  padding: 0 0.5rem;
  height: 3rem;
  text-align: center;
  overflow: hidden;
}

.cards .btn {
  height: 3rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.cards .btn p {
  position: absolute;
  text-align: left;
  top: 17rem;
  left: 1rem;
  padding: 0;
  font-size: 0.5rem;
  font-weight: lighter;
  color: #282c34;
}
.cards button {
  background-color: rgb(14, 160, 218);
  color: aliceblue;
  margin: 0.5rem 1rem 1rem 1rem;
  padding: 0.4rem 0.6rem;
  font-size: 0.7rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.cards button:hover {
  background-color: rgb(20, 139, 194);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}

/******************** NewsItem Cards end ************************/

/******************** about section start ********************/

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 3rem;
}

.about h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--color2);
}
.about p {
  padding: 2rem 10rem;
}

/******************** about section end ********************/

/******************** contact section start ********************/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 ;
}
.contact h1{
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container form input,
textarea {
  color: #e16259;
  border: 2px solid #e16259;
  border-radius: 1rem;
  width: 50vw;
  margin: 0.4rem;
  padding: 0.8rem;
  font-size: .8rem;
  outline: none;
  resize: none;
}

.container form ::placeholder {
  color: #e16259;
}

.container form textarea {
  height: 5rem;
}
.container .btn:hover {
  background-color: #61dafb;
  color: whitesmoke;
  transition: all;
  transition-duration: 0.5s;
}

/******************** contact section end ********************/


#footer {
  margin-top: auto;
  width:100%;
  height: 10rem;
  background-color: #e16259;
  color: #fff;
  padding: 2rem;
  text-align: center;
}
